body{
    font-family:sans-serif ;
}
.product-container{
    display:flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    
 
 }
 .product-container::-webkit-scrollbar{
     display:none; 
 }
 .product-card{
    flex:0 0 auto;
    width:160px;
    height:auto;
   margin-right: 7px;
   cursor: pointer;
   
   
   
 }
 .product-img{
    position: relative;
    width:100%;
    height:100%;
    overflow:hidden;
  
   
 
 }
 
 .pre-btn,
 .next-btn{
    border:none;
    display: block;
    position:absolute;
   top:220px;
    justify-content:center;
    align-items: center;
    cursor:pointer;
    z-index:10;
    background: none;
    color:white;
    font-size: 15px;
 }
 
 .pre-btn{
    left:0;
     
 }
 .next-btn{
    right:0;
 
 }
 button.hover{
    border: 1px solid gray;
 }
 img{
    width:100%;
 }

 h3,h4{
    color:red;
 }

 #sub{
    color: black;
 }
 .class{
   height: 886px;
   width:96%;
   border:2px solid black;
   margin: auto;
   background-color: rgb(243, 243, 232);
}
#box1{
   height:252px;
   width:99.90%;
   /* border:2px red solid; */
  }
  #img1{
   width: 100%;
   height: auto;
   display: block;
  }
  p{font-size: 13px;
text-align: center;
font-family: Brandon Text,Arial,sans-serif;
}
#box2{
   height: 55px;
   width:68%;
   /* border: 1px solid black; */
   margin: auto;
   text-align: center;
   display: flex;
    justify-content: space-between;
  
}
button{
   
   font-family: Brandon Text,Arial,sans-serif;
   font-weight: 400;
   height:50px;

   
}
#img{
   width: 99.70%;
   margin-top:40px;
}
#img2{
   width: 96%;
   margin-top:50px;
   height: 200px;
   
   border: 2px black solid;
   margin-left: 25px;
}




.slider{
   position:relative;
   width:96%;
   min-height:500px;
   margin:20px;
   overflow: hidden;
   
  }
  .slider .slide{
   position: absolute;
   width: 100%;
   height:100%;
   clip-path: circle(0.7% at 0 50%);
   /* object-fit:cover; */

  }
.slider .slide img{
   position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
}

.slider .slide .info{
   position: absolute;
   width:100%;
   margin-top:200px;
   margin-left:900px;
        }
.slider .slide .info p{
margin-top: 10px;
}

.navigation{
height:500px;
display:flex;
align-items: center;
justify-content: space-between;
opacity: 0;
transition: opacity 0.5s ease;
}

.slider:hover .navigation{

opacity:1;
}

.prev-btn,.next-btn{
z-index:999;
font-size:3em;
background-color: aliceblue;
padding:5px;
cursor: pointer;
}
.navigation-visibility{
z-index: 999;
display: flex;
justify-content: center;
}
.navigation-visibility .slide-icon{

z-index: 999;
background: rgb(56, 50, 50);
width:20px;
height: 10px;
transform: translateY(-50px);
margin:0 6px;
border-radius: 2px;
box-shadow: 0 5px 25px rbg(1 1 1 /20%);
}

.navigation-visibility .slide-icon.active{
background: rgb(240, 236, 236);

}




@media(max-width: 900px){

 .slider{
  width:100%;
 }
}
      
.slider .slide.active{

clip-path: circle(150% at 0 50%);

}




.headline{width:97%;
   height:230px ;
   margin: auto;
   text-align: center;
   font-family: "Brandon Text", Arial, sans-serif;
   color: rgb(57, 57, 57); }

.headline>h2{font-size: 20px;}

.headline>p{color: #000;
  line-height: 1.4;
  font-size: 14px;}

.headline2{width:97%;
   height:auto ;
   margin: auto;
   margin-top: 20px;
   text-align: center;
   color: rgb(57, 57, 57);
   font-family: Brandon Text,Arial,sans-serif;}

.headline2>p{color: #000;
  line-height: 1.4;
  font-size: 14px;}

.headline2>h2{font-size: 20px;}
#threadcards{width:97%;
   height: 600px; 
   margin: auto;
   display: flex;
   justify-content: space-between;
   color: rgb(57, 57, 57);
   font-family: Brandon Text,Arial,sans-serif;}
#threadcards>div{height: 100%;
         width: 33%;}

#threadcards>div>a{color: #000;
              font-family: Brandon Text,Arial,sans-serif;
               font-size: 14px; }
img{width: 100%;}

hr{height: 2px;
background-color: #000;
margin-bottom: 20px;
margin-top: 50px;}

.productcard{width:97%;
      height:auto ;
      margin: auto;
      display: flex;
      justify-content: space-between;
      font-family: Brandon Text,Arial,sans-serif;
      color: rgb(57, 57, 57);}
.productcard>div{width: 18%;
            height: 100%;
            line-height: 2px;
            position: relative;}

.productcard>div>p{font-weight: 400;
              font-size: 13.5px;}
.productcard>div>h4{ font-size: 13px;}

.producthead{width: 97%;
        height: 100px;
        margin: auto;
        margin-top: 20px;
        color: rgb(57, 57, 57);
        font-family: "Brandon Text", Arial, sans-serif;
       }

.producthead>p{font-size: 14px;
          color: rgb(57, 57, 57);
          margin-top: -15px;}

.shopcard{width: 97%;
     height: 600px;
     margin: auto;}
.shophead{width: 100%;
     height: 100px;
     }
.popular{height: 20px;
position: absolute;
 top: 0;
 padding: 360px 0px 0px 5px;
  }
.popular>h4{background-color:wheat;
    line-height: 15px;
font-family: "Brandon Text", Arial, sans-serif;
font-size: 12px;}
.red{color: rgb(183, 6, 6);}

.shop_by_cat{width:97%;
      height:380px ;
      margin: auto;
      display: flex;
      justify-content: space-between;
      font-family: Brandon Text,Arial,sans-serif;
      text-align: center;}
.shop_by_cat>div{width: 25%;
          height: 100%;}
.shop{width: 25%}
.today{width: 97%;
 height: auto;
 margin: auto;
 display: flex;}
.today>div{width: 50%;
     height: 100%;}
.diz{width: 97%;
height: 500px;
margin: auto;
display: flex;
font-family: "Brandon Text", Arial, sans-serif;}
.diz>div{width: 50%;
    height: 100%;}
.diz>div:nth-child(1){background-color: rgb(250, 63, 38);
                 color: aliceblue;
                  text-align: center;}
.diz h4{margin-top:2%;}
.diz h2{margin-top:30%;}
.diz>div:nth-child(2){line-height: 10px;
                 margin-left: 7px; }
.diz>div>a{color: #000;
      font-size: 16px;}
.diz>div>p{font-size: 14px;
      margin-bottom: 20px;}




